import os

where = input('where do u want to check your files ?(input the address on your pc) ')
run = True

#this is for show removed files
removed_files = []

#where your files will check
listdir = os.listdir(where)


for test in listdir :
    print(test ,'file or directory is checking...')
    testing = os.path.isdir(test)

    while (testing is run):


        number = len(testing)



        os.chdir(test)
        remove = os.listdir('.')

        for i in remove :
            if((os.path.isdir(i)) is True):
                os.chdir(i)
                testing = os.chdir(i)

            else:

                if(('.bat' in i) is True):
                    dele = input('this file maybe a virus, do u want to remove this file ?(y,n)')
                    if (dele == 'y'):
                        os.remove(i)
                        print(i ,'removed')

                        removed_files.append(test)

                    elif (dele == 'n'):
                        pass
        if (number != 0):
            number -= 1
        elif (number == 0):
            run = False

    if((os.path.isfile(test)) is True):
        if(('.bat' in test) is True):
          delete  = input('this file maybe a virus, do u want to remove this file ?(y,n) ')
          if(delete == 'y'):
              os.remove(test)
              print(test ,'removed')

              removed_files.append(test)

          elif(delete == 'n'):
              pass

print('you delete this files ...')
print(removed_files)
